body {
  font-family: var(--sm-font);
  background: #fff;
  height: 3000px;
  direction: rtl;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {

  --main-color: #6061D7;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;

  --lg-font: 'Kaisei Tokumin', serif;
  --sm-font: 'Poppins', sans-serif;
  --pink: #e5345b;

    /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

.general-color {
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(250, 244, 244);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

a {
  text-decoration: none;
}

.scrolling-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: var(--main-color);
  color: white;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: all .3s ease;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.scrolling-up.show {
  opacity: 1;
}

@media only screen and (min-width: 300px) and (max-width: 1100px) {
  .buy-section {
    overflow-x: scroll;

  }
}

.main-section {
  /* border: 2px solid red; */
  height: 100vh;
  background-image: url(../images/com_wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.navbar {
  background-color: var(--main-color) !important;
}
/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}


/* ............................... */
.img-navbar {
  /* border: 2px solid red; */
  height: 50px;
  width: 90px;
}

.nav-link {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  color: white;
}

.nav-link:hover {
  color: var(--main-color) !important;
}

.nav-item .nav-link.active {
  color: var(--main-color);
}

.btn-1 {
  border: 2px solid white;
  color: white;
}

.btn-1:hover {
  border: 2px solid #D9D9D9;
  color: #023047;
  background-color: #D9D9D9;
}

.btn-2 {
  border: 2px solid #D9D9D9;
  color: #023047;
  background-color: #D9D9D9;
}

.btn-2:hover {
  border: 2px solid white;
  color: white;
}

.teachers {
  margin-top: 80px;
  border: 2px solid red;
  /* height: 100vh; */
  padding: 30px 0;
}
.txt-general{
  position: relative;
 
}
.txt-general::after{
  position: absolute;
  content: "";
  width: 40px;
  height: 2px ;
  background-color: black;
  top: 10px;
  left:470px;
}
.txt-general::before{
  position: absolute;
  content: "";
  width: 40px;
  height: 2px ;
  background-color: black;
  top: 10px;
  right: 470px;
}
.txt-general-2{
  position: relative;
}
.txt-general-2::after{
  position: absolute;
  content: "";
  width: 80px;
  height: 2px ;
  background-color: black;
  top: -25px;
  left: 430px;
}
.txt-general-2::before{
  position: absolute;
  content: "";
  width: 80px;
  height: 2px ;
  background-color: black;
  top: -25px;
  right: 430px;
}
.box-teachers {
  border: 2px solid green;
  width: 100%;
  /* height: 0px; */
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #d2d3f4;
  padding: 15px;
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.box-teachers img{
  border: 2px solid green;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.box-teachers:hover {
  background-color: var(--main-color);
  color: white;
}
.box-teachers:hover p {
  color: white;
}